canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#wand-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 50px;
  cursor: pointer;
}

#pof-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.idle{
  opacity: 0;
}

.elementToFadeInAndOut {
  width:200px;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}