@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
body * {
  font-family: 'Poppins', sans-serif !important;
}

button {
  outline: none;
  border: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#wand-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 50px;
  cursor: pointer;
}

#pof-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.idle {
  opacity: 0;
}

.elementToFadeInAndOut {
  width: 200px;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flex {
  display: flex;
}

#start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: black, $alpha: 0.9);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }

  #typography {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 0.5rem;
    }

    &:nth-child(1) {
      transform: scale(0.55);
      padding: 16px !important;
    }

    &:nth-child(2) {
      transform: scale(0.55);
      padding: 16px;
    }

    button {
      margin: 3rem;
      font-size: 4rem;
      color: white;
      background: rgb(194, 224, 16);
      border-radius: 3rem;
      padding: 1rem 4rem;
      transition: 0.1s ease-in-out;
      box-shadow: 0 8px 0 0 rgb(113, 118, 6);

      &:hover {
        box-shadow: none;
        -webkit-transform: translate(0, 6px);
        -ms-transform: translate(0, 6px);
        transform: translate(0, 6px);
      }
    }
  }
}

#toggleGuide {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 5;
  font-size: 1.5rem;
  color: white;
  background: rgb(194, 224, 16);
  border-radius: 1rem;
  text-align: center;
  transition: 0.1s ease-in-out;
  box-shadow: 0 8px 0 0 rgb(113, 118, 3);

  &:hover {
    box-shadow: none;
    -webkit-transform: translate(0, 3px);
    -ms-transform: translate(0, 3px);
    transform: translate(0, 3px);
  }
}

#guide {
  width: fit-content;
  height: fit-content;
  background: white;
  position: relative;
  padding: 2rem 3rem;
  top: 50px;
  margin: 0 auto;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

  &.hidden {
    display: none;
  }

  #letters * {
    margin: 0 16px;

    &.hidden {
      display: none;
    }
  }

  p {
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(46, 45, 45);
  }

  #arrows {
    button {
      margin: 16px 8px;
      font-size: 2rem;
      color: white;
      background: rgb(194, 224, 16);
      border-radius: 1rem;
      width: 80px;
      height: 80px;
      transition: 0.1s ease-in-out;
      box-shadow: 0 8px 0 0 rgb(113, 118, 6);

      &.pressed {
        box-shadow: none;
        -webkit-transform: translate(0, 6px);
        -ms-transform: translate(0, 6px);
        transform: translate(0, 6px);
      }
    }
  }
}
